.selectedSetIntersect {
    fill: blue;
}

.unselectedSetIntersect {
    fill: grey;
}

/* position setIntersectIcon on the right */
.setIntersectIcon {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 20px;
    height: 20px;
    cursor: pointer;
}



.scrollContainer {
    height: 100%;
    overflow-y: auto;
    position: relative;
}

.bottomPosition {
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    display: flex;
    justify-content: center;
}

.setIntersectIcon {
    position: absolute;
    right: 10px;
    bottom: 10px;
    cursor: pointer;
}

.vennPaper {
    transition: all 0.3s ease;
}

.vennPaper.bottomPosition {
    position: fixed;
    bottom: 10px;
    width: 90%;
    left: 5%;
}