body {
	padding: 0;
	margin: 0;
}

:root {
	color-scheme: dark;
}


#root {
	width: 100vw;
	height: 100vh;
	text-align: center;
	margin: 0;
	padding: 0;
}

.vit-makeStyles-titleInfo {
	width: 0 !important;
	height: 0 !important;
}

.Seal {
	display: flex;
	height: 100%;
	width: 100%;
}

#webapp {
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	padding: 0;
	margin: 0;
}



.vit-makeStyles-title {
	color: #ededed !important;
	flex-direction: row-reverse !important;
}

.vit-makeStyles-titleLeft {
	color: ededed !important;
	/* center text */
	text-align: center !important;
}

.vit-MuiSvgIcon-root {
	/* hide icon */
	display: none !important;
	/* color: #ededed !important; */
}

.react-grid-layout.layout {
	width: 100vw !important;
}